.btn {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

.add-btn {
  background-color: var(--btn-primary-color);
}

.edit-btn {
  background-color: var(--btn-warning-color);
}

.delete-btn {
  background-color: var(--btn-danger-color);
}

.confirm-btn {
  background-color: var(--btn-danger-color);
}

.cancel-btn {
  background-color: var(--btn-warning-color);
}

.btn:disabled {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  cursor: default;
}