.user-form {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.form-group {
  padding: 0.5rem;
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
}

.form-input-text {
  border-bottom: solid 0.1rem var(--secondary-color);
}

.form-label {
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
  font-weight: 500;
  text-align: left;
}

.form-input {
  font-size: 1.6rem;
}

.dark .form-input {
  background-color: var(--dark-color);
  color: var(--primary-color);
}

.preview-avatar {
  width: 20%;
  margin-top: 1rem;
}

.add-btn {
  background-color: var(--btn-primary-color);
}