.question {
  background-color: var(--primary-color);
  padding: 2rem;
  color: var(--secondary-color);
  text-align: center;
}

.number-question {
  font-size: 2rem;
  padding: 1.2rem;
}

.question-text {
  font-size: 1.6rem;
}

.answers {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  margin-right: -3rem;
}

.answer, .right, .wrong {
  margin-right: 3rem;
  margin-bottom: 2rem;
  width: calc(50% - 3rem);
  text-align: center;
  padding: 3rem;
  font-size: 2rem;
  font-weight: 600;
  transition: 0.2s;
}
.answer {
  border: solid 0.2rem var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.answer:hover {
  transform: scale(1.03);
}

.right {
  border: solid 0.2rem var(--secondary-color);
  background-color: var(--right-color);
  color: var(--secondary-color);
}

.wrong {
  border: solid 0.2rem var(--secondary-color);
  background-color: var(--wrong-color);
  color: var(--secondary-color);
}